@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-orbitron: "Orbitron", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

body {
  background-color: rgb(9 9 11);
  color: rgb(244 244 245);
  font-family: var(--font-poppins);
  overflow-x: hidden;
}

.system-grid {
  background-image:
    linear-gradient(to right, rgba(63, 63, 70, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(63, 63, 70, 0.05) 1px, transparent 1px);
  background-size: 24px 24px;
}